# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Node (si usas frontend)
node_modules/

# Bases de datos
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Tests y cache
.pytest_cache/
.mypy_cache/

# Docker
Dockerfile
docker-compose.yml

padron.txt
